@mixin headerStyle($fontSize: 0.12rem,$bgColor: rgba(235,235,235,1),$color: rgba(10,10,10,1),$selectedColor: rgba(255,110,0,1)){
    .logo {
        flex: 0 0 $fontSize*5;
        display: flex;
        align-items: center;
        flex: 0 0 $fontSize*25;
        background-color: $bgColor;
        border-radius: $fontSize;
        img {
            margin-left: $fontSize*2;
            height: $fontSize*2;
        }
        span {
            font-size: $fontSize;
            i {
                font-weight: 600;
                color: red;
                cursor: pointer;
            }
        }
    }
    .searchBox {
        flex: 0 0 $fontSize*5;
        display: flex;
        height: $fontSize*2;
        #searchInput {
            flex: 0 0 $fontSize*8;
            height: $fontSize*2;
            padding: $fontSize*0.5;
            border: none;
            outline: none;
            background-color: $bgColor;
            border-radius: $fontSize 0 0 $fontSize;
            box-sizing: border-box;
            font-size: $fontSize*0.8;

            &:focus {
                background-color: white;
                border: 1px solid $bgColor;
            }
        }

        #searchBtn {
            flex: 0 0 $fontSize*3;
            height: $fontSize*2;
            border: none;
            outline: none;
            font-size: $fontSize;
            background-color: $bgColor;
            border-radius: 0 $fontSize $fontSize 0;
            font-size: $fontSize*0.8;
            cursor: pointer;

            &:hover {
                background-color: $selectedColor;
            }
        }
    }

    .navList {
        margin: 0;
        padding: 0;
        height: $fontSize*2;
        flex: 0 0 $fontSize*35;
        display: flex;
        justify-content: space-around;
        list-style: none;
        font-size: $fontSize;
        align-items: center;
        background-color: $bgColor;
        border-radius: $fontSize;

        #nav {
            margin: 0 $fontSize*0.4;
            flex: 0 0 $fontSize*4;
            border-radius: $fontSize;

            a {
                display: block;
                margin: 0 $fontSize;
                text-decoration: none;
                color: $color;
                height: $fontSize*2;
                line-height: $fontSize*2;
            }

            &.active {
                background-color: $selectedColor;
            }

            &:hover {
                background-color: $selectedColor;
            }

        }

        #userInfo {
            flex: 0 0 $fontSize*7;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            img {
                width: $fontSize*1.6;
                height: $fontSize*1.6;
            }

            &:hover {
                color: $selectedColor;
            }
        }

        #logout {
            flex: 0 0 $fontSize*2.5;
            cursor: pointer;

            &:hover {
                color: $selectedColor;
            }
        }
    }
}

@mixin headerStyleSEA($fontSize: 0.12rem,$bgColor: rgba(235,235,235,1),$color: rgba(10,10,10,1),$selectedColor: rgba(255,110,0,1)){
    .logo {
        flex: 0 0 $fontSize*5;
        display: flex;
        align-items: center;
        flex: 0 0 $fontSize*25;
        background-color: $bgColor;
        border-radius: $fontSize;
        img {
            margin-left: $fontSize*2;
            height: $fontSize*2;
        }
        span {
            font-size: $fontSize;
            i {
                font-weight: 600;
                color: red;
                cursor: pointer;
            }
        }
    }
    .searchBox {
        display: none;
    }

    .navList {
        margin: 0;
        padding: 0;
        height: $fontSize*2;
        flex: 0 0 $fontSize*35;
        display: flex;
        justify-content: space-around;
        list-style: none;
        font-size: $fontSize;
        align-items: center;
        background-color: $bgColor;
        border-radius: $fontSize;

        #nav {
            margin: 0 $fontSize*0.4;
            flex: 0 0 $fontSize*4;
            border-radius: $fontSize;

            a {
                display: block;
                margin: 0 $fontSize;
                text-decoration: none;
                color: $color;
                height: $fontSize*2;
                line-height: $fontSize*2;
            }

            &.active {
                background-color: $selectedColor;
            }

            &:hover {
                background-color: $selectedColor;
            }

        }

        #userInfo {
            flex: 0 0 $fontSize*7;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            img {
                width: $fontSize*1.6;
                height: $fontSize*1.6;
            }

            &:hover {
                color: $selectedColor;
            }
        }

        #logout {
            flex: 0 0 $fontSize*2.5;
            cursor: pointer;

            &:hover {
                color: $selectedColor;
            }
        }
    }
}
@mixin headerStyleSEB($fontSize: 0.12rem,$bgColor: rgba(235,235,235,1),$color: rgba(10,10,10,1),$selectedColor: rgba(255,110,0,1)){
    .logo {
        display: none;
    }
    .searchBox {
        display: none;
    }

    .navList {
        margin: 0;
        padding: 0;
        height: $fontSize*2;
        flex: 0 0 $fontSize*35;
        display: flex;
        justify-content: space-around;
        list-style: none;
        font-size: $fontSize;
        align-items: center;
        background-color: $bgColor;
        border-radius: $fontSize;

        #nav {
            margin: 0 $fontSize*0.4;
            flex: 0 0 $fontSize*4;
            border-radius: $fontSize;

            a {
                display: block;
                margin: 0 $fontSize;
                text-decoration: none;
                color: $color;
                height: $fontSize*2;
                line-height: $fontSize*2;
            }

            &.active {
                background-color: $selectedColor;
            }

            &:hover {
                background-color: $selectedColor;
            }

        }

        #userInfo {
            flex: 0 0 $fontSize*7;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            img {
                width: $fontSize*1.6;
                height: $fontSize*1.6;
            }

            &:hover {
                color: $selectedColor;
            }
        }

        #logout {
            flex: 0 0 $fontSize*2.5;
            cursor: pointer;

            &:hover {
                color: $selectedColor;
            }
        }
    }
}