   .usrBox {
        display: flex;
        width: 1800px;
        height: 800px;
        margin: 20px auto;
        border-radius: 40px;
    }
    .usrBox .usrMenu{
        width: 270px;
        height: 780px;
        margin: 10px;
        border-radius: 30px;
        background-color: rgb(235, 235, 235);
    }
    .usrBox .usrMenu ul{    
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .usrBox .usrMenu li{
        margin: 7px auto;
        width: 250px;
        height: 250px;
        line-height: 250px;
        text-align: center;
        border-radius: 30px;
        font-size: 20px;
        cursor: pointer;
        border: 1px solid rgb(150, 150, 150);
    }
    .usrBox .usrMenu li:hover{
        background-color: rgb(255, 135, 0);
    }
    .usrBox .usrDisplay{
        width: 490px;
        height: 780px;
        margin: 10px;
        border-radius: 30px;
        background-color: rgb(235, 235, 235);
    }
    